<div class="col-md-3 box">{{guitar.title}}<br>
  <div style="background:{{tuneToNote[guitar.s1]}}" class="col-md-1 string" ng-click="sound(guitar.s1)"></div>
  <div style="background:{{tuneToNote[guitar.s2]}}" class="col-md-1 string" ng-click="sound(guitar.s2)"></div>
  <div style="background:{{tuneToNote[guitar.s3]}}" class="col-md-1 string" ng-click="sound(guitar.s3)"></div>
  <div style="background:{{tuneToNote[guitar.s4]}}" class="col-md-1 string" ng-click="sound(guitar.s4)"></div>
  <div style="background:{{tuneToNote[guitar.s5]}}" class="col-md-1 string" ng-click="sound(guitar.s5)"></div>
  <div style="background:{{tuneToNote[guitar.s6]}}" class="col-md-1 string" ng-click="sound(guitar.s6)"></div>
</div>