<h3>Tune it... </h3>
  Selected:<br>
  {{stringClicked}}
  {{guitarClicked.title}}<br><br>
  <div>
      s1: <input type="radio" name="clickS" value="s1" ng-model="stringClicked">
      s2: <input type="radio" name="clickS" value="s2" ng-model="stringClicked">
      s3: <input type="radio" name="clickS" value="s3" ng-model="stringClicked">
      s4: <input type="radio" name="clickS" value="s4" ng-model="stringClicked">
      s5: <input type="radio" name="clickS" value="s5" ng-model="stringClicked">
      s6: <input type="radio" name="clickS" value="s6" ng-model="stringClicked">
    </div>