<div class="container">
  <h1>Welcome</h1>

  <div class="row">
    <div class="col-md-4">
      <guitar-collector collection="guitars" ng-if="guitars.length>-1"></guitar-collector>
    </div>
  </div>
  <br><br>
  <div ng-repeat="guitar in guitars" ng-click="clickGuitar(guitar)" ng-hide="guitar.deleted">
    <guitar></guitar>
  </div>
  <br>
  <div class="col-md-5">
    <tuner data-string="selectedString" data-guitar="selectedGuitar"></tuner>
  </div>
  <div class="row">
    <div class="col-md-5">
      <tuner-addon data-selected-string="selectedString" data-selected-guitar="selectedGuitar"></tuner-addon>
    </div>
  </div>
</div><br><br>